body {
    font-family: "Montserrat", sans-serif;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: auto 0;
    gap: 8px;
}

.feedback-form label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.feedback-form input {
    font-family: "Montserrat", sans-serif;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.feedback-form textarea {
    font-family: "Montserrat", sans-serif;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    resize: none;
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    background: #4e75ff;
    text-align: center;
    border: #4e75ff;
    margin-top: 8px;
}

button:hover {
    background: #6c8cff;
}